TD
{
	FONT-SIZE: 9pt
}
BODY
{
	FONT-SIZE: 9pt
}
A:link
{
	COLOR: blue;
	TEXT-DECORATION: none
}
A:visited
{
	COLOR: blue;
	TEXT-DECORATION: none
}
A:active
{
	COLOR: red;
	TEXT-DECORATION: none
}
A:hover
{
	COLOR: #999999;
	TEXT-DECORATION: none
}
INPUT
{
	FONT-SIZE: 9pt;
	FONT-FAMILY: ו;
	width: 138px;
}
TEXTAREA
{
	FONT-SIZE: 9pt;
	FONT-FAMILY: ו
}
SELECT
{
	FONT-SIZE: 9pt;
	FONT-FAMILY: ו
}

.Up
{
	border-left: 1Px solid rgb(12,12,12);
	border-right: 1px solid rgb(12,12,12);
	border-bottom: 1px solid rgb(12,12,12);
	border-top: 1px solid rgb(12,12,12);
	cursor:hand;
}
.Down
{
	border-right: 1Px solid rgb(233,244,249);
	border-left: 1px solid rgb(12,12,12);
	border-top: 1px solid rgb(12,12,12);
	border-bottom: 1px solid rgb(233,244,249);
	cursor:hand;
}
.None
{
	border-right: 1Px solid rgb(255,255,255);
	border-left: 1px solid rgb(255,255,255);
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(255,255,255);
	cursor:hand;
}


td.HtmlEditor_On 
{
	font: 8pt MS Sans Serif;
	padding:1px 5px;
	border:1px inset;
	background-color: #F4F6F4;
}

td.HtmlEditor_Off 
{
	font: 8pt MS Sans Serif;
	padding:1px 5px;
	border:1px outset;
	cursor:hand;
}